@page "/"
@using Microsoft.EntityFrameworkCore

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p> Welcome to News Umbrage.</p>
    <div class="container-fluid p-3 my-3" >
        <div class="input-group mb-3" style="width: 75%">
            <input class="form-control" type="search" placeholder="Enter a phrase or keyword..." aria-label="Filter" id="search-input" onkeyup="myFunc()" autofocus>
             <div class="input-group-btn">
                <button class="btn btn-outline-secondary" type="button" style="visibility: hidden;">Filter</button>
            </div>
        </div>
        
        <h6>Updated: Tue, 07 Dec 2021 15:19:13 &#43;08 <span class="badge bg-danger">100</span></h6>


<details>
  <summary>Epcot Center</summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
<table class="table table-responsive table-striped" id="myList" name="newslist">
    <thead>

        <tr>
            
            <th >Title</th>


        </tr>
    </thead>
    <tbody>
        @if (items != null)
        {
            foreach (var item in items)
            {
                <tr>
                    
                    <td>
                        <details>
  <summary>
      <u><b>
      <a target="_blank" rel="noopener noreferrer" href="@item.URL"><span  style="color:Blue; font-family:Verdana,Helvetica,sans-serif;">@item.Title</span></a>
      </b></u>
      <br>
      @item.Tags
  </summary>
  <p>@item.Description</p>
</details>


      
                    
                    </td>
                    
                
                </tr>
                

            }
        }
    </tbody>
</table>

    </div>



                       <button @onclick="() => Get()" class="btn btn-danger btn-lg w-100 my-2">
                            Delete
                        </button>
<p>
    @para
</p>
@code{

    private List<Note> items = new();

    private string para; 

    protected override async Task OnInitializedAsync()
    {
        using var context = new NoteDBContext();
        //items = await context.Notes.ToListAsync();
        items = (await context.Notes.ToListAsync()).OrderByDescending(x => x.RID).Take(5).ToList();

        //var bookLinks = BlazorServerNotes.Service.WebScraper.GetBookLinks("http://books.toscrape.com/catalogue/category/books/mystery_3/index.html");
        //Console.WriteLine("Found {0} links", bookLinks.Count);
        //para = $"Found {bookLinks.Count} links";

        para = GetMetaTagValue( "https://www.youtube.com/watch?v=bL3R2zlwAcQ");

    }


    private async Task Get()
    {
        para = GetMetaTagValue( "https://www.hanselman.com/blog/blazor-webassembly-on-azure-static-web-apps");
        StateHasChanged();
    }


}